<div class="filter p-2 md:p-4 lg:p-6 min-h-full">
	<form method="post">
		{% csrf_token %}
		<h1 class="text-xl">Filters</h1>

		<!-- Sort Filter Group -->
		<div class="filterGroup px-4 py-6 space-y-4">
			<h3>Sorting</h3>
			<div class="filterItem">
				<input id="f-sort-low" type="radio" class="h-4 w-4" name="sort" value="low">
				<label for="f-sort-low" class="ml-3">Low to High</label>
			</div>
			<div class="filterItem">
				<input id="f-sort-high" type="radio" class="h-4 w-4" name="sort" value="high" checked>
				<label for="f-sort-high" class="ml-3">High to Low</label>
			</div>
			<div class="filterItem">
				<input id="f-sort-new" type="radio" class="h-4 w-4" name="sort" value="new">
				<label for="f-sort-new" class="ml-3">New</label>
			</div>
			<div class="filterItem">
				<input id="f-sort-ending" type="radio" class="h-4 w-4" name="sort" value="ending">
				<label for="f-sort-ending" class="ml-3">Ending</label>
			</div>
			<div class="filterItem">
				<input id="f-sort-highrarity" type="radio" class="h-4 w-4" name="sort" value="highrarity">
				<label for="f-sort-highrarity" class="ml-3">High Rarity</label>
			</div>
			<div class="filterItem">
				<input id="f-sort-lowrarity" type="radio" class="h-4 w-4" name="sort" value="lowrarity">
				<label for="f-sort-lowrarity" class="ml-3">Low Rarity</label>
			</div>
		</div>

		<!-- Type Filter Group -->
		<div class="filterGroup px-4 py-6 space-y-4">
			<h3>Type</h3>
			<div class="filterItem">
				<input id="f-type" type="checkbox" class="h-4 w-4" name="type[]" value="helmet" checked>
				<label for="f-type" class="ml-3">Helmet</label>
			</div>
			<div class="filterItem">
				<input id="f-type" type="checkbox" class="h-4 w-4" name="type[]" value="chestplate" checked>
				<label for="f-type" class="ml-3">Chestplate</label>
			</div>
			<div class="filterItem">
				<input id="f-type" type="checkbox" class="h-4 w-4" name="type[]" value="leggings" checked>
				<label for="f-type" class="ml-3">Leggings</label>
			</div>
			<div class="filterItem">
				<input id="f-type" type="checkbox" class="h-4 w-4" name="type[]" value="boots" checked>
				<label for="f-type" class="ml-3">Boots</label>
			</div>
			<div class="filterItem">
				<input id="f-type" type="checkbox" class="h-4 w-4" name="type[]" value="sword" checked>
				<label for="f-type" class="ml-3">Sword</label>
			</div>
			<div class="filterItem">
				<input id="f-type" type="checkbox" class="h-4 w-4" name="type[]" value="staff" checked>
				<label for="f-type" class="ml-3">Staff</label>
			</div>
			<div class="filterItem">
				<input id="f-type" type="checkbox" class="h-4 w-4" name="type[]" value="Bow" checked>
				<label for="f-type" class="ml-3">Bow</label>
			</div>
		</div>

		<!-- Rarity Filter Group -->
		<div class="filterGroup px-4 py-6 space-y-4">
			<h3>Rarity</h3>
			<div class="filterItem">
				<input id="f-rarity" type="checkbox" class="h-4 w-4" name="rarity[]" value="common" checked>
				<label for="f-rarity" class="ml-3">Common</label>
			</div>
			<div class="filterItem">
				<input id="f-rarity-uncommon" type="checkbox" class="h-4 w-4" name="rarity[]" value="uncommon" checked>
				<label for="f-rarity-uncommon" class="ml-3">Uncommon</label>
			</div>
			<div class="filterItem">
				<input id="f-rarity-rare" type="checkbox" class="h-4 w-4" name="rarity[]" value="rare" checked>
				<label for="f-rarity-rare" class="ml-3">Rare</label>
			</div>
			<div class="filterItem">
				<input id="f-rarity-epic" type="checkbox" class="h-4 w-4" name="rarity[]" value="epic" checked>
				<label for="f-rarity-epic" class="ml-3">Epic</label>
			</div>
			<div class="filterItem">
				<input id="f-rarity-legendary" type="checkbox" class="h-4 w-4" name="rarity[]" value="legendary" checked>
				<label for="f-rarity-legendary" class="ml-3">Legendary</label>
			</div>
		</div>

		<!-- Listing Type Filter Group -->
		<div class="filterGroup px-4 py-6 space-y-4">
			<h3>Listing Type</h3>
			<div class="filterItem">
				<input id="f-listing-store" type="radio" class="h-4 w-4" name="type[]" value="store" checked>
				<label for="f-listing-store" class="ml-3">Store</label>
			</div>
			<div class="filterItem">
				<input id="f-listing-auction" type="radio" class="h-4 w-4" name="type[]" value="auction">
				<label for="f-listing-auction" class="ml-3">Auction</label>
			</div>
			<div class="filterItem">
				<input id="f-listing-bin" type="radio" class="h-4 w-4" name="type[]" value="bin">
				<label for="f-listing-bin" class="ml-3">Bin</label>
			</div>
		</div>
	</form>
</div>
