{% load static %}
<div class="itemList p-4 md:p-8 lg:p-12 min-h-full">
    <h2 class="pb-8">Results</h2>

    <div class="itemGrid relative" id="items">
        {% for product in products %}
            <a class="group p-4" href="{% url 'store:Product' product.id %}">
                <img src="{{product.Item.Image.url}}">
                <div class="item mt-4">
                    <h3>{{product.Item.Name}}</h3>
                    <p>${{product.Price}}</p>
                </div>
            </a>
        {% empty %}
            <h3>No Items</h3>
        {% endfor %}
    </div>
</div>
