{% load static %}
<div class="itemList p-4 md:p-8 lg:p-12 min-h-full">
    <h2 class="pb-8">Results</h2>

    <div class="itemGrid relative" id="items">

      <a class="group" href="{% url 'store:Product' 1 %}">
				<img src="{% static 'img/sword1.jpeg' %}">
        <div class="item mt-4">
					<h3>Basic Tee</h3>
          <p>$35</p>
        </div>
      </a>

      <a class="group" href="{% url 'store:Product' 2 %}">
				<img src="{% static 'img/sword2.jpeg' %}">
        <div class="item mt-4">
					<h3>Basic Tee</h3>
          <p>$35</p>
        </div>
      </a>

      <a class="group" href="{% url 'store:Product' 3 %}">
				<img src="{% static 'img/sword3.jpeg' %}">
        <div class="item mt-4">
					<h3>Basic Tee</h3>
          <p>$35</p>
        </div>
      </a>

      <a class="group" href="{% url 'store:Product' 3 %}">
				<img src="{% static 'img/sword4.jpeg' %}">
        <div class="item mt-4">
					<h3>Basic Tee</h3>
          <p>$35</p>
        </div>
      </a>

      <a class="group" href="{% url 'store:Product' 4 %}">
				<img src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg">
        <div class="item mt-4">
					<h3>Basic Tee</h3>
          <p>$35</p>
        </div>
      </a>

      <a class="group" href="{% url 'store:Product' 5 %}">
				<img src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg">
        <div class="item mt-4">
					<h3>Basic Tee</h3>
          <p>$35</p>
        </div>
      </a>
			{% for product in products %}
				<a class="group" href="{% url 'store:Product' product.id %}">
					<img src="{{product.Item.Image.url}}">
					<div class="item mt-4">
						<h3>{{product.Item.Name}}</h3>
						<p>${{product.Price}}</p>
					</div>
				</a>
			{% empty %}
				<h3>No Items</h3>
			{% endfor %}
    </div>
</div>
