{% load static %}
<nav class="navbar h-16 mx-auto px-2 sm:px-6 lg:px-8">
		<div class="first space-x-4">
			<img class="h-8 w-auto rounded-lg" src="{% static 'img/logo.jpeg' %}" alt="Your Company">
			
			<a href="{% url 'basic:index' %}" {% if page == "index" %} class="navItemSelected" aria-current="page" {% else %} class = "navItem" {% endif %}>Home</a>
			<a href="{% url 'store:Item List' %}" {% if page == "itemlist" %} class="navItemSelected" aria-current="page" {% else %} class = "navItem" {% endif %}>Items</a>
			<a href="{% url 'store:Wishlist' %}" {% if page == "wishlist" %} class="navItemSelected" aria-current="page" {% else %} class = "navItem" {% endif %}>WishList</a>
			<a href="{% url 'store:Cart' %}" {% if page == "cart" %} class="navItemSelected" aria-current="page" {% else %} class = "navItem" {% endif %}>Cart</a>
		</div>
		<div class="last">
			<a href="/profile">
				<img class="h-8 w-8 rounded-full" src="{% static 'img/profile.jpeg' %}" alt="">
			</a>
		</div>
</nav>
