{% extends 'base.html' %}
{% block title %} Cart {% endblock %}

{% block top %}
{% include 'nav.html' with page="cart" %}
{% endblock %}

{% load static %}

{% block middle %}
<div class="cartItems p-2 md:p-4 lg:p-8 min-h-full">
	<h2 class="mb-10">Cart Items</h2>
	<div class="items gap-4">

		<div class="item p-2 md:p-4 lg:p-8 gap-4 md:w-3/4">
			<img alt="product-image" class="lg:w-1/4"  src="{% static 'img/sword1.jpeg' %}"/>
			<div class="infoBox">
				<div class="info">
					<h3>Sword1</h3>
					<h4>Price: $213</h4>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>
				
				<div class="count">
					<span class="left"> - </span>
					<input class="h-8 w-8" type="number" value="2" min="1" />
					<span class="right"> + </span>
				</div>
			</div>
		</div>

		<div class="item p-2 md:p-4 lg:p-8 gap-4 md:w-3/4">
			<img alt="product-image" class="lg:w-1/4"  src="{% static 'img/sword2.jpeg' %}"/>
			<div class="infoBox">
				<div class="info">
					<h3>Sword2</h3>
					<h4>Price: $213</h4>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>
				
				<div class="count">
					<span class="left"> - </span>
					<input class="h-8 w-8" type="number" value="2" min="1" />
					<span class="right"> + </span>
				</div>
			</div>
		</div>

		<div class="item p-2 md:p-4 lg:p-8 gap-4 md:w-3/4">
			<img alt="product-image" class="lg:w-1/4"  src="{% static 'img/sword3.jpeg' %}"/>
			<div class="infoBox">
				<div class="info">
					<h3>Sword3</h3>
					<h4>Price: $213</h4>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>
				
				<div class="count">
					<span class="left"> - </span>
					<input class="h-8 w-8" type="number" value="2" min="1" />
					<span class="right"> + </span>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}

{% block right %}
<div class="cartList p-2 md:p-4 lg:p-8 min-h-full">
	<h2>Cart List</h2>
	<div class="list gap-4 py-4 border-b-2">
		<h4>Item</h4>
		<h4>Quantity</h4>
		<h4>Price</h4>
		<p>Shipping</p>
		<p>1</p>
		<p>$4.99</p>
		<p>Dipping</p>
		<p>2</p>
		<p>$4.99</p>
		<p>Thinking</p>
		<p>412</p>
		<p>$4.99</p>
		<p>Walking Park</p>
		<p>1</p>
		<p>$4.99</p>
	</div>

	<div class="list gap-4 py-4 border-b-2">
		<h4>Total:</h4>
		<h4>$134.98 USD</h4>
	</div>
	<button class="mt-6 w-full py-1.5">Check out</button>
</div>
{% endblock %}