{% extends 'base.html' %}
{% block title %} Cart {% endblock %}

{% block top %}
{% include 'nav.html' with page="cart" %}
{% endblock %}

{% load static %}

{% block middle %}
<div class="cartItems p-2 md:p-4 lg:p-8 min-h-full">
	<h2 class="mb-10">Cart Items</h2>
	<div class="items gap-4">
		{% for cart in carts %}
		<div class="item p-2 md:p-4 lg:p-8 gap-4 md:w-3/4">
			<img alt="product-image" class="lg:w-1/4"  src="{{cart.Listing.Item.Image.url}}"/>
			<div class="infoBox">
				<div class="info">
					<h3>{{cart.Listing.Item.Name}}</h3>
					<h4>Price: ${{cart.Listing.Price}}</h4>
					<h4>Type: {{cart.Listing.Item.get_Type_display}}</h4>
					<h4>Rarity: {{cart.Listing.Item.get_Rarity_display}}</h4>
					<p>{{cart.Listing.Item.Description|slice:":100"}}{% if cart.Listing.Item.Description|length > 100 %}...{% endif %}</p>
				</div>
				
				<div class="count">
					<span class="left" hx-post="{% url 'store:Decrement Cart' cart.id %}" hx-trigger="click" hx-target="#quantity-{{ cart.id }}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'> - </span>
					<p id="quantity-{{ cart.id }}" class="px-2">{{cart.Quantity}}</p>
					<span class="right" hx-post="{% url 'store:Increment Cart' cart.id %}" hx-trigger="click" hx-target="#quantity-{{ cart.id }}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'> + </span>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block right %}
<div class="cartList p-2 md:p-4 lg:p-8 min-h-full">
	<h2>Cart List</h2>
	<div class="list gap-4 py-4 border-b-2">
		<h4>Item</h4>
		<h4>Quantity</h4>
		<h4>Price</h4>
		{% for cart in carts %}
			<p>{{cart.Listing.Item.Name}}</p>
			<p>{{cart.Quantity}}</p>
			<p>${{cart.Listing.Price}}</p>
		{% endfor %}
	</div>

	<div class="list gap-4 py-4 border-b-2">
		<h4>Total:</h4>
		<h4>${{totalPrice}} USD</h4>
	</div>
	<button class="mt-6 w-full py-1.5">Check out</button>
</div>
{% endblock %}

{% block foot %}
<script>
	document.body.addEventListener('htmx:afterRequest', function(event) {
			// Reload the page after the HTMX request is complete
			window.location.reload();
	});
</script>
{% endblock %}