{% extends 'base.html' %}
{% load static %}

{% block title %} Product {% endblock %}

{% block top %}
{% include 'nav.html' with page="none" %}
{% endblock %}

{% block middle %}
<div class="product px-4 md:px-8 lg:px-12">
	<img src="{% static 'img/sword1.jpeg' %}" class="p-4 md:p-8 lg:p-12">

	<div class="py-4 md:py-8 lg:py-12">
		<h2 class="py-2">{{product.Item.Name}}</h2>
		<h3>Price/Current Bid : ${{product.Price}}</h3>
		<h4>Ends: {{product.Expiration}}</h4>
		<h4>Type: {{product.Item.get_Type_display}}</h4>
		<h4>Rarity: {{product.Item.get_Rarity_display}}</h4>
		<h4>Quantity: {{product.Stock}}</h4>
		<p class="py-2">{{product.Item.Desciption}}</p>
		
		{% if product.Type == 1 %}
			<form class="space-y-4 py-3" method="post">
				{% csrf_token %}
				<label for="bid">Place Bid</label>
				<input type="number" name="bid" min="193" id="bid" value="193">
				<button type="submit" name="bid" value="bid">Bid</button>
				<button hx-post="{% url 'store:Add to Wishlist' product.Item.id %}" hx-trigger="click" >Add to wishlist</button>
			</form>
		{% else %}
			<form class="space-y-4 py-3" method="post">
				{% csrf_token %}
				
				<label for="quantity">Quantity</label>
				<input type="number" min="1" id="quantity" name="quantity" value="1">
			
				<div class="flex space-x-6">
					<button type="submit" name="action" value="buy">Buy</button>
					<button hx-post="{% url 'store:Add to Cart' product.id %}" hx-trigger="click"  >Add to Cart</button>
					<button hx-post="{% url 'store:Add to Wishlist' product.Item.id %}" hx-trigger="click" >Add to wishlist</button>
				</div>
			</form>
		{% endif %}
		
	</div>

	<div class="p-4 md:p-8 lg:p-12 lg:col-span-2">
		<h3 class="text-3xl tracking-tight text-gray-900">Details</h3>
		<p class="text-gray-900 py-6">{{product.Item.Details}}</p>
	</div>
</div>

{% endblock %}