{% extends 'base.html' %}

{% block title %} Wishlist {% endblock %}

{% block top %}
{% include 'nav.html' with page="wishlist" %}
{% endblock %}

{% load static %}

{% block middle %}
<div class="wishList p-2 md:p-4 lg:p-8 min-h-full">
	<h2 class="mb-10">Wish List</h2>
	<div class="items gap-4">
		{% for wish in wishlist %}
		{% if wish %}
			<div class="item p-2 md:p-4 lg:p-8 gap-4 md:w-3/4">
				<img alt="product-image" class="lg:w-1/4"  src="{{wish.Item.Image.url}}"/>
				<div class="infoBox">
					<div class="info">
						<h3>{{wish.Item.Name}}</h3>
						<h4>Type: {{wish.Item.get_Type_display}}</h4>
						<h4>Rarity: {{wish.Item.get_Type_display}}</h4>
						<p>{{wish.Item.Description|slice:":100"}}{% if wish.Item.Description|length > 100 %}...{% endif %}</p>
					</div>
					<form class="control" method="post" action="{% url 'store:Remove From Wishlist' wish.id %}">
						{% csrf_token %}
						<button class="remove p-2"> Remove </button>
					</form>
				</div>
			</div>
		{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}