{% load static %}

<div class="main p-2 md:p-4 lg:p-8">
	
	<header class="py-6">
		<h2>Featured</h2>
		<div class="featured gap-6 p-8" id="items">
            {% for product in featured %}
            <a class="group p-2 md:p-4 lg:p-8" href="{% url 'store:Product' 1 %}">
                        <img src="{{product.Item.Image.url}}">
                <div class="item mt-4">
                            <h3>{{product.Item.Name}}</h3>
                <p>${{product.Price}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
	</header>
	<main class="py-6">
		<h2>Newest</h2>
		<div class="newest gap-6 p-8" id="items">
            {% for product in newest %}
            <a class="group p-2 md:p-4 lg:p-8" href="{% url 'store:Product' 1 %}">
                        <img src="{{product.Item.Image.url}}">
                <div class="item mt-4">
                            <h3>{{product.Item.Name}}</h3>
                <p>${{product.Price}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
	</main>
	<footer class="py-6">
		<h2>Ending Soon</h2>
		<div class="ending gap-6 p-8" id="items">
            {% for product in ending %}
            <a class="group p-2 md:p-4 lg:p-8" href="{% url 'store:Product' 1 %}">
                        <img src="{{product.Item.Image.url}}">
                <div class="item mt-4">
                            <h3>{{product.Item.Name}}</h3>
                <p>${{product.Price}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
	</footer>
</div>